<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.demo.mapper.ResourceMapper">
    <resultMap id="resource" type="com.example.demo.po.Resource">
        <id column="id" property="id" jdbcType="BIGINT"></id>
        <result column="role_id" property="roleId" jdbcType="BIGINT"></result>
        <result column="name" property="name" jdbcType="VARCHAR"></result>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"></result>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"></result>
    </resultMap>
    <sql id="user_columns">

    </sql>

    <insert id="save" >
        insert into resource(name,role_id) values(#{name}, #{roleId})
    </insert>

    <select id="selectById" resultMap="resource">
        select * from resource where id = #{id}
    </select>

    <select id="selectByRoleId" resultMap="resource">
        select * from resource where role_id = #{roleId}
    </select>




</mapper>